apiVersion: v1
kind: ConfigMap
metadata:
  name: local-path-config
  namespace: kube-system
data:
  config.json: |-
    {
      "nodePathMap": [
        {
          "node": "DEFAULT_PATH_FOR_ALL_NODES",
          "paths": ["${K3S_LOCAL_STORAGE}"]
        }
      ]
    }
