apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ${SIGNING_PUB_SECRET_NAME}
  namespace: ${SIGNING_ADMISSION_NAMESPACE}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: ${SIGNING_PUB_SECRET_NAME}
    creationPolicy: Owner
    template:
      type: Opaque
  data:
    - secretKey: cosign.pub
      remoteRef:
        key: cosign/signing
        property: cosign.pub
