apiVersion: ${KEYCLOAK_ESO_API_VERSION}
kind: ExternalSecret
metadata:
  name: ${KEYCLOAK_ADMIN_SECRET_NAME}
  namespace: ${KEYCLOAK_NAMESPACE}
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: SecretStore
    name: ${KEYCLOAK_ESO_SECRETSTORE}
  target:
    name: ${KEYCLOAK_ADMIN_SECRET_NAME}
    creationPolicy: Owner
  data:
    - secretKey: ${KEYCLOAK_ADMIN_PASSWORD_KEY}
      remoteRef:
        key: ${KEYCLOAK_ADMIN_VAULT_PATH}
        property: ${KEYCLOAK_ADMIN_PASSWORD_KEY}
