{
  "realm": "${KEYCLOAK_REALM_NAME}",
  "displayName": "${KEYCLOAK_REALM_DISPLAY_NAME}",
  "enabled": true,
  "registrationAllowed": false,
  "loginTheme": "keycloak",
  "components": {
    "org.keycloak.storage.UserStorageProvider": [
      {
        "id": "ldap-provider",
        "providerId": "ldap",
        "name": "ldap",
        "config": {
          "enabled": ["true"],
          "priority": ["0"],
          "fullSyncPeriod": ["-1"],
          "changedSyncPeriod": ["-1"],
          "cachePolicy": ["DEFAULT"],
          "bindDn": ["${KEYCLOAK_LDAP_BIND_DN}"],
          "bindCredential": ["${KEYCLOAK_LDAP_PASSWORD}"],
          "connectionUrl": ["ldap://${KEYCLOAK_LDAP_HOST}:${KEYCLOAK_LDAP_PORT}"],
          "usersDn": ["${KEYCLOAK_LDAP_USERS_DN}"],
          "baseDn": ["${KEYCLOAK_LDAP_BASE_DN}"],
          "usernameLDAPAttribute": ["uid"],
          "rdnLDAPAttribute": ["uid"],
          "uuidLDAPAttribute": ["entryUUID"],
          "userObjectClasses": ["inetOrgPerson"],
          "searchScope": ["1"],
          "useTruststoreSpi": ["ldapsOnly"],
          "authType": ["simple"],
          "pagination": ["true"],
          "allowKerberosAuthentication": ["false"],
          "batchSizeForSync": ["1000"],
          "editMode": ["READ_ONLY"],
          "vendor": ["other"],
          "validatePasswordPolicy": ["false"],
          "trustEmail": ["false"]
        }
      }
    ]
  }
}
