apiVersion: v1
kind: ServiceAccount
metadata:
  name: ${KEYCLOAK_ESO_SERVICE_ACCOUNT}
  namespace: ${KEYCLOAK_NAMESPACE}
---
apiVersion: ${KEYCLOAK_ESO_API_VERSION}
kind: SecretStore
metadata:
  name: ${KEYCLOAK_ESO_SECRETSTORE}
  namespace: ${KEYCLOAK_NAMESPACE}
spec:
  provider:
    vault:
      server: "${VAULT_ENDPOINT}"
      path: ${KEYCLOAK_VAULT_KV_MOUNT}
      version: v2
      auth:
        kubernetes:
          mountPath: kubernetes
          role: ${KEYCLOAK_ESO_ROLE}
          serviceAccountRef:
            name: ${KEYCLOAK_ESO_SERVICE_ACCOUNT}
