global:
  security:
    allowInsecureImages: true
auth:
  adminUser: ${KEYCLOAK_ADMIN_USERNAME}
  existingSecret: ${KEYCLOAK_ADMIN_SECRET_NAME}
  passwordSecretKey: ${KEYCLOAK_ADMIN_PASSWORD_KEY}
image:
  registry: docker.io
  repository: bitnamilegacy/keycloak
proxyAddressForwarding: true
service:
  type: ClusterIP
  ports:
    http: ${KEYCLOAK_SERVICE_PORT}
keycloakConfigCli:
  enabled: ${KEYCLOAK_CONFIG_CLI_ENABLED}
  image:
    registry: docker.io
    repository: bitnamilegacy/keycloak-config-cli
  existingConfigmap: keycloak-realm-config
  podAnnotations:
    sidecar.istio.io/inject: "false"
  env:
    - name: KEYCLOAK_URL
      value: http://keycloak.${KEYCLOAK_NAMESPACE}.svc.cluster.local:${KEYCLOAK_SERVICE_PORT}
    - name: KEYCLOAK_USER
      value: ${KEYCLOAK_ADMIN_USERNAME}
    - name: KEYCLOAK_PASSWORD
      valueFrom:
        secretKeyRef:
          name: ${KEYCLOAK_ADMIN_SECRET_NAME}
          key: ${KEYCLOAK_ADMIN_PASSWORD_KEY}
podAnnotations:
  sidecar.istio.io/inject: "true"
postgresql:
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
