apiVersion: v1
kind: Secret
metadata:
  name: ${VAULT_TLS_SECRET_NAME}
  namespace: ${VAULT_TLS_SECRET_NS}
type: kubernetes.io/tls
stringData:
  tls.crt: |
${VAULT_TLS_CERT}
  tls.key: |
${VAULT_TLS_KEY}
  ca.crt: |
${VAULT_TLS_CA}
