apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: bitwarden-secretsmanager
spec:
  provider:
    bitwardensecretsmanager:
      # Defaults shown; override if you self-host Bitwarden SM
      apiURL: https://api.bitwarden.com
      identityURL: https://identity.bitwarden.com
      bitwardenServerSDKURL: https://bitwarden-sdk-server.${ns}.svc.cluster.local:9998
      caBundle: ${ca_b64}
      organizationID: ${org_id}
      projectID: ${project_id}
      auth:
        secretRef:
          credentials:
            name: bitwarden-access-token
            key: token
