<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.k3d-manager.vault-port-forward</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{KUBECTL_PATH}}</string>
    <string>port-forward</string>
    <string>vault-0</string>
    <string>18200:8200</string>
    <string>-n</string>
    <string>secrets</string>
    <string>--context</string>
    <string>k3d-k3d-cluster</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>{{HOME}}/Library/Logs/k3dm-vault-port-forward.log</string>
  <key>StandardErrorPath</key>
  <string>{{HOME}}/Library/Logs/k3dm-vault-port-forward.log</string>
</dict>
</plist>
