<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.k3d-manager.prometheus-port-forward</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{KUBECTL_PATH}}</string>
    <string>port-forward</string>
    <string>svc/prometheus-operated</string>
    <string>19090:9090</string>
    <string>-n</string>
    <string>monitoring</string>
    <string>--context</string>
    <string>ubuntu-k3s</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>KUBECONFIG</key>
    <string>{{HOME}}/.kube/config:{{HOME}}/.kube/ubuntu-k3s.yaml:{{HOME}}/.kube/k3s-ubuntu.yaml</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>{{HOME}}/Library/Logs/k3dm-prometheus-port-forward.log</string>
  <key>StandardErrorPath</key>
  <string>{{HOME}}/Library/Logs/k3dm-prometheus-port-forward.log</string>
</dict>
</plist>
