<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.k3d-manager.cleanup</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{K3DM_REPO_ROOT}}/bin/k3dm-cleanup</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>3</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>{{HOME}}/Library/Logs/k3dm-cleanup.log</string>
  <key>StandardErrorPath</key>
  <string>{{HOME}}/Library/Logs/k3dm-cleanup.log</string>
</dict>
</plist>
