<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.k3d-manager.prometheus-credential-rotator</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{K3D_MANAGER_PATH}}</string>
    <string>observability_rotate_prometheus_basic_auth</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Day</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>0</integer>
  </dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>{{HOME}}</string>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>{{HOME}}/Library/Logs/k3dm-prometheus-credential-rotator.log</string>
  <key>StandardErrorPath</key>
  <string>{{HOME}}/Library/Logs/k3dm-prometheus-credential-rotator.log</string>
</dict>
</plist>
