<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.k3d-manager.alertmanager-auth-proxy</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{PYTHON3_PATH}}</string>
    <string>{{ALERTMANAGER_PROXY_BIN}}</string>
    <string>--credentials-file</string>
    <string>{{ALERTMANAGER_AUTH_FILE}}</string>
    <string>--listen</string>
    <string>127.0.0.1:9093</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>{{HOME}}/Library/Logs/k3dm-alertmanager-auth-proxy.log</string>
  <key>StandardErrorPath</key>
  <string>{{HOME}}/Library/Logs/k3dm-alertmanager-auth-proxy.log</string>
</dict>
</plist>
