# jenkins/destinationrule.yaml
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: jenkins
  namespace: "${JENKINS_NAMESPACE}"
spec:
  host: "jenkins.${JENKINS_NAMESPACE}.svc.cluster.local"
  trafficPolicy:
    tls:
      mode: DISABLE
