controller:
  sidecars:
    configAutoReload:
      enabled: true
  podAnnotations:
    sidecar.istio.io/inject: "true"
    sidecar.istio.io/rewriteAppHTTPProbers: "true"
    proxy.istio.io/config: '{"holdApplicationUntilProxyStarts": true}'
  image:
    registry: docker.io
    repository: jenkins/jenkins
    tag: lts
    pullPolicy: IfNotPresent
  installPlugins:
    - active-directory
    - configuration-as-code
    - credentials
    - git
    - hashicorp-vault-plugin
    - job-dsl
    - kubernetes
    - matrix-auth
    - matrix-project
    - metrics
    - mina-sshd-api-common
    - mina-sshd-api-core
    - okhttp-api
    - parameterized-trigger
    - workflow-aggregator
    - workflow-multibranch
    - pipeline-build-step
    - pipeline-stage-view
    - pipeline-utility-steps
    - plain-credentials
    - plugin-util-api
    - script-security
    - ssh-credentials
    - ssh-slaves
    - sshd
  containerEnv:
    - name: JENKINS_ADMIN_USER
      value: "jenkins-admin"
    - name: JENKINS_ADMIN_PASS
      valueFrom:
        secretKeyRef:
          name: jenkins
          key: jenkins-admin-password
    - name: JAVA_OPTS
      value: "-Djenkins.install.runSetupWizard=false"
    - name: JENKINS_OPTS
      value: "--httpPort=8080 --httpListenAddress=0.0.0.0"

  serviceAccount:
    create: true
    name: jenkins-admin

  podSecurityContext:
    fsGroup: 1000
    runAsUser: 1000

  persistence:
    enabled: true
    existingClaim: jenkins-home

  serviceType: ClusterIP
  servicePort: 8081
  targetPort: 8080
  containerPort: 8080
  servicePortName: http

  healthProbes: true
  probes:
    startupProbe:
      httpGet:
        path: /login
        port: 8080
        scheme: HTTP
      initialDelaySeconds: 90
      periodSeconds: 5
      failureThreshold: 180
    readinessProbe:
      httpGet:
        path: /login
        port: 8080
        scheme: HTTP
      initialDelaySeconds: 90
      periodSeconds: 5
      failureThreshold: 120
    livenessProbe:
      httpGet:
        path: /login
        port: 8080
        scheme: HTTP
      initialDelaySeconds: 90
      periodSeconds: 5
      failureThreshold: 60
  JCasC:
    defaultConfig: false
    configScripts:
      00-location.yaml: |
        unclassified:
          location:
            url: "https://jenkins.dev.local.me/"      # trailing slash required
            adminAddress: "jenkins-admin@me.com"
          hashicorpVault:
            configurations:
              vaultUrl: https://vault.vault.svc:8200
              failOnError: true
              timeout: 30
              retry: 3
              authentication: "kubernetes"
              kubernetes:
                role: "jenkins-jcasc-reader"
                mountPath: "auth/kubernetes"
                path: "kubernetes"
      01-security.yaml: |
        jenkins:
          securityRealm:
            activeDirectory:
              domain:
                - name: "ppe.costcotravel.com"
                  bindName: "${vault:secret/jenkins/ad-ldap#bindName}"
                  bindPassword: "${vault:secret/jenkins#bindPassword}"
                  servers: "10.36.224.11:3268, 10.36.224.12:3268"
                - name: "pacific.costcotravel.com"
                  bindName: "${vault:secret/jenkins/adreader#bindName}"
                  bindPassword: "${vault:secret/jenkins/adreader#bindPassword}"
                  servers: "10.1.1.11:3268, 10.1.1.12:3268"
              groupLookupStrategy: AUTO
              removeIrrelevantGroups: false
              startTls: true
          slaveAgentPort: 5551
          disabledAdministrativeMonitors:
            - "jenkins.security.ReverseProxySetupMonitor"
          securityRealm:
            local:
              allowsSignup: false
              users:
                - id: "${JENKINS_ADMIN_USER}"
                  password: "${JENKINS_ADMIN_PASS}"
          authorizationStrategy:
            projectMatrix:
              permissions:
                - "Overall/Read:jenkins-admin"
                - "Overall/Administer:jenkins-admin"
  # Optional but keeps env consistent with JCasC Location
  jenkinsUrl: "https://jenkins.dev.local.me/"
