# jenkins/virtualservice.yaml
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: jenkins
  namespace: "${JENKINS_NAMESPACE}"
spec:
  gateways:
    - istio-system/jenkins-gw
  hosts:
    - jenkins.dev.k3d.internal
  http:
    - match:
        - uri: { prefix: "/" }
      route:
        - destination:
            host: "jenkins.${JENKINS_NAMESPACE}.svc.cluster.local"
            port: { number: 8081 }          # Service port (→ pod :8080)
