apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: jenkins
  namespace: "${JENKINS_NAMESPACE}"
spec:
  gateways:
    - istio-system/jenkins-gw
  hosts:
${JENKINS_VIRTUALSERVICE_HOSTS_YAML}
  http:
  - match:
    - uri:
        prefix: /
    headers:
      request:
        set:
          X-Forwarded-Proto: "https"
          X-Forwarded-Port: "443"
          # If you serve a single hostname and want to force it, uncomment:
          # X-Forwarded-Host: "${VAULT_PKI_LEAF_HOST}"
    route:
    - destination:
        host: "jenkins.${JENKINS_NAMESPACE}.svc.cluster.local"
        port:
          number: 8081   # <-- this must match your Service's port that targets pod:8080

