apiVersion: v1
kind: Secret
metadata:
  name: ${ARGOCD_APP_CLUSTER_SECRET_NAME}
  namespace: ${ARGOCD_NAMESPACE}
  labels:
    argocd.argoproj.io/secret-type: cluster
type: Opaque
stringData:
  name: ${ARGOCD_APP_CLUSTER_NAME}
  server: ${ARGOCD_APP_CLUSTER_SERVER}
  config: |
    {
      "bearerToken": "${ARGOCD_APP_CLUSTER_TOKEN}",
      "tlsClientConfig": {
        "insecure": ${ARGOCD_APP_CLUSTER_INSECURE}
      }
    }
