apiVersion: ${ARGOCD_ESO_API_VERSION}
kind: ExternalSecret
metadata:
  name: ${ARGOCD_LDAP_SECRET_NAME}
  namespace: ${ARGOCD_NAMESPACE}
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: SecretStore
    name: ${ARGOCD_ESO_SECRETSTORE}
  target:
    name: ${ARGOCD_LDAP_SECRET_NAME}
    creationPolicy: Owner
  data:
    - secretKey: dex.ldap.bindPW
      remoteRef:
        key: ${ARGOCD_LDAP_VAULT_PATH}
        property: ${ARGOCD_LDAP_PASSWORD_KEY}
