apiVersion: v1
kind: ServiceAccount
metadata:
  name: ${ARGOCD_ESO_SERVICE_ACCOUNT}
  namespace: ${ARGOCD_NAMESPACE}
---
apiVersion: ${ARGOCD_ESO_API_VERSION}
kind: SecretStore
metadata:
  name: ${ARGOCD_ESO_SECRETSTORE}
  namespace: ${ARGOCD_NAMESPACE}
spec:
  provider:
    vault:
      server: "${VAULT_ENDPOINT}"
      path: ${ARGOCD_VAULT_KV_MOUNT}
      version: v2
      auth:
        kubernetes:
          mountPath: kubernetes
          role: ${ARGOCD_ESO_ROLE}
          serviceAccountRef:
            name: ${ARGOCD_ESO_SERVICE_ACCOUNT}
