apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: ${ARGOCD_DEPLOY_KEY_SECRETSTORE}
  namespace: ${ARGOCD_NAMESPACE}
spec:
  provider:
    vault:
      server: "${VAULT_ENDPOINT}"
      path: "${ARGOCD_VAULT_KV_MOUNT}"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "${ARGOCD_DEPLOY_KEY_VAULT_ROLE}"
          serviceAccountRef:
            name: ${ARGOCD_DEPLOY_KEY_ESO_SA}
