# Argo CD Helm values template with LDAP/Dex authentication
# Environment variables are substituted using envsubst during deployment

global:
  domain: ${ARGOCD_VIRTUALSERVICE_HOST}

configs:
  params:
    server.insecure: ${ARGOCD_SERVER_INSECURE}

  cm:
    url: https://${ARGOCD_VIRTUALSERVICE_HOST}

    oidc.config: |
      name: Keycloak
      issuer: ${ARGOCD_KEYCLOAK_REALM_URL}
      clientID: ${ARGOCD_KEYCLOAK_CLIENT_ID}
      clientSecret: $oidc.keycloak.clientSecret
      requestedScopes:
        - openid
        - profile
        - email
      requestedIDTokenClaims:
        groups:
          essential: true

  rbac:
    policy.default: ${ARGOCD_RBAC_DEFAULT_POLICY}
    policy.csv: |
      g, "${ARGOCD_RBAC_ADMIN_GROUP}", role:admin

server:
  replicas: ${ARGOCD_SERVER_REPLICAS}

  service:
    type: ClusterIP

  ingress:
    enabled: false

  extraArgs:
    - --insecure

repoServer:
  replicas: ${ARGOCD_REPO_SERVER_REPLICAS}

controller:
  replicas: 1

applicationSet:
  replicas: ${ARGOCD_APPLICATIONSET_REPLICAS}

dex:
  enabled: false
